body, div {
  font-size: 1.1em;
  font-family: monospace;
  text-transform: none;
  color: #ffffff;
  background-color: #000000;
}
a,h1,h2,h3,h4 {
  color: #2c806a;
}
h3 {
  color: #2c806a;
  text-decoration: underline;
}
a:hover {
  color: #2c806a;
  text-decoration: none;
}
